@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    width: 100%;
}



/* NAV BAR */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: linear-gradient(0deg, #202020 0%, rgba(0, 0, 0, 1) 100%);
}

#navbar .navbar {
    display: flex;
    align-items: center;
    gap: 40px;
}

#navbar .navbar .marvel-icon {
    width: 170px;
}

#navbar .navbar .dc-icon {
    width: 80px;
}

#navbar .navbar .versus-icon {
    width: 75px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgb(182, 3, 3) 0%, rgb(3, 3, 167) 100%);
}

#navbar a {
    color: #fff;
}

#navbar input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

#navbar input:focus {
    border-color: #8a0202;
}

/* NAV BAR */




/* SECTIONS */
#marvel.hidden,
#dc.hidden,
#all.hidden {
    display: none;
}

#marvel,
#dc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 16px;
}

#marvel {
    background: linear-gradient(to bottom, rgba(36, 0, 0, 1), rgba(115, 36, 36, 1), rgba(255, 0, 0, 1));
}

#dc {
    background: linear-gradient(180deg, rgb(4, 4, 118) 0%, rgba(0, 0, 0, 1) 100%);
}

#dc>img {
    width: 170px;
}

/* SECTIONS */




/* VERSUS SECTION */
#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99vh;
    padding: 20px;
    background: linear-gradient(180deg, #202020 0%, rgba(0, 0, 0, 1) 100%);
}

#all .versus {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 50%;
}

#all .versus img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    object-position: top;
    opacity: 0.8;
}

#all .versus img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* VERSUS SECTION */



/* CARDS SECTION */
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
}

.cards-container .card {
    position: relative;
    width: 400px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cards-container .card .image {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.cards-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transition: transform 0.3s ease;
}

.cards-container .card img:hover {
    transform: scale(1.1);
}

.cards-container .card .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 10px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

.cards-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.3s ease;
}

.cards-container button:hover {
    background-color: #8a0202;
}

/* CARDS SECTION */



/* MODAL */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
}

#modal .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-height: 100%;
    padding: 20px;
    gap: 1rem;
    margin: auto;
}

#modal .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal .image img {
    max-width: 100%;
    max-height: 100%;
    height: 900px;
    border-radius: 8px;
    object-fit: contain;
}

#modal .close-btn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease;
}

#modal .close-btn:hover {
    background-color: #616060;
}

#modal .character-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 50%;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
}

#modal .character-info h2 {
    font-size: 2.9rem;
}

#modal .character-info p {
    font-size: 1.1rem;
}

/* MODAL */





/* MEDIA QUERIES */


@media screen and (max-width: 1200px) {

    #navbar {
        flex-direction: column;
        gap: 10px;
    }

    #navbar input {
        padding: 6px;
    }

    #navbar .navbar .all-icon {
        display: none;
    }

    #navbar .navbar .marvel-icon {
        width: 100px;
    }

    #navbar .navbar .dc-icon {
        width: 50px;
    }

    #modal .modal-content {
        width: 90%;
        height: auto;
        flex-direction: column;
    }

    #modal .image {
        height: auto;
        width: auto;
    }

    #modal .image img {
        height: auto;
    }

    #modal .character-info {
        width: auto;
    }

    #modal .character-info h2 {
        font-size: 26px;
    }

    #modal .character-info p {
        font-size: 14px;
        text-wrap: balance;
    }

    #modal .close-btn {
        font-size: 16px;
    }
}

@media screen and (300px <=width < 1200px) {

    #modal .modal-content {
        gap: 5px;
    }

    #modal .image img {
        width: 70%;
    }

    #modal .character-info {
        width: 100%;
    }
}